﻿@model WcoSiteNet.Models.Account.RegisterPageModel
@using FtwCore
@using reCAPTCHA.MVC
@using WcoSiteNet.Models
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = LanguageManager.GetString("StrRegistrationTitle");
}

@section css_script
{
    <style>
        .form-signin {
            width: 70%;
            margin: auto;
        }
    </style>
}

@section pre_js_script
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

<div class="br-pagebody">
    @using (Html.BeginForm("DoRegister", "Account", FormMethod.Post, new { @class = "form-signin", id = "frmRegistration", onsubmit = "AccountMgr().CreateNewAccount()", autocomplete = "false" }))
    {
        @Html.AntiForgeryToken()
        <div class="text-center">
            <img class="mb-4" src="@Href("~/Images/logo.png")" onclick="window.location.href = '@Url.Action("Login")';" alt="" width="240">
            <h1 class="h3 mb-3 font-weight-normal">Novo usuário?</h1>
            <p>
                Ao cadastrar uma nova conta você concorda com nossos <a href="#">Termos de Serviço</a>, com nossos
                <a href="#">Termos de Privacidade</a> e com as nossas <a href="#">Diretrizes da comunidade</a>.
            </p>
        </div>
        <div class="br-section-wrapper pd-30-force">
            <div class="form-layout form-layout-3">
                <div id="tempReturnMessage" class="row no-gutters" style="visibility: collapse;"></div>
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">@(LanguageResource.StrRegisterUsername):</label>
                            <input type="email" id="Username" name="Username" class="form-control" placeholder="@(LanguageResource.StrRegisterUsernamePlaceholder)" required autofocus>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-4 mg-t--1 mg-md-t-0">
                        <div class="form-group mg-md-l--1">
                            <label class="form-control-label">@(LanguageResource.StrRegisterPassword):</label>
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="@(LanguageResource.StrRegisterPasswordPlaceholder)" required>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-4 mg-t--1 mg-md-t-0">
                        <div class="form-group mg-md-l--1">
                            <label class="form-control-label">@(LanguageResource.StrRegisterConfirmPassword):</label>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="@(LanguageResource.StrRegisterConfirmPasswordPlaceholder)" required>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-4">
                        <div class="form-group bd-t-0-force">
                            <label class="form-control-label">@(LanguageResource.StrRegisterSecurityCode):</label>
                            <input type="number" id="SecurityCode" name="SecurityCode" class="form-control" placeholder="@(LanguageResource.StrRegisterSecurityCodePlaceholder)" required>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-8">
                        <div class="form-group mg-md-l--1 bd-t-0-force">
                            <label class="form-control-label mg-b-0-force">
                                @LanguageResource.StrRegisterGender: <br /><br />
                                <div class="form-check form-check-inline">
                                    <label class="rdiobox">
                                        <input name="GenderSelect" value="0" type="radio">
                                        <span>@LanguageResource.StrRegisterGenderMale</span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="rdiobox">
                                        <input name="GenderSelect" value="1" type="radio">
                                        <span>@LanguageResource.StrRegisterGenderFemale</span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="rdiobox">
                                        <input name="GenderSelect" value="2" type="radio">
                                        <span>@LanguageResource.StrRegisterGenderOther</span>
                                    </label>
                                </div>
                            </label>
                        </div>
                    </div><!-- col-8 -->
                    <div class="col-md-4">
                        <div class="form-group bd-t-0-force">
                            <label class="form-control-label">@(LanguageResource.StrRegisterSecurityQuestion):</label>
                            <select class="form-control select2" name="SecurityQuestion" data-placeholder="@(LanguageResource.StrRegisterSecurityQuestion)">
                                <option value="-1" label="@(LanguageResource.StrRegisterSecurityQuestionPlaceholder)"></option>
                                @*<option value="1">Pergunta 1</option>
                                <option value="2">Pergunta 2</option>
                                <option value="3">Pergunta 3</option>
                                <option value="4">Pergunta 4</option>*@
                                @foreach (var question in Model.SecurityQuestions)
                                {
                                    <option value="@question.Identity">@LanguageManager.GetString(question.Message)</option>
                                }
                            </select>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-8">
                        <div class="form-group bd-t-0-force">
                            <label class="form-control-label">@(LanguageResource.StrRegisterSecurityAnswer):</label>
                            <input type="text" id="SecurityAnswer" name="SecurityAnswer" class="form-control" placeholder="@(LanguageResource.StrRegisterSecurityAnswer)" required>
                        </div>
                    </div><!-- col-8 -->
                    <div class="col-md-8">
                        <div class="form-group bd-t-0-force">
                            <label class="form-control-label">@(LanguageResource.StrRegisterRealName):</label>
                            <input type="text" id="RealName" name="RealName" class="form-control" placeholder="@(LanguageResource.StrRegisterRealName)" required>
                        </div>
                    </div><!-- col-8 -->
                    <div class="col-md-4">
                        <div class="form-group bd-t-0-force">
                            <label class="form-control-label">@(LanguageResource.StrRegisterBirthday):</label>
                            <input type="date" id="Birthday" name="Birthday" class="form-control" required>
                        </div>
                    </div><!-- col-4 -->
                </div><!-- row -->
                <div class="form-layout-footer bd pd-20 bd-t-0">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Recaptcha()
                            @Html.ValidationMessage("ReCaptcha")
                        </div>
                        <div class="col-md-6 pd-t-20">
                            <p><button class="btn btn-primary" type="submit">@(LanguageResource.StrRegisterSubmitButton)</button> <span class="tx-danger">*</span> Todos os campos são obrigatórios.</p>
                        </div>
                    </div>
                </div><!-- form-group -->
            </div><!-- form-layout -->
        </div>
    }
</div>

@section js_script
{
    <script src="@Href("~/Scripts/system/registration.js")"></script>
}