﻿@using System.Reflection
@model WcoSiteNet.Models.BaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <!-- vendor css -->
    <link href="@Href("~/Content/font-awesome.css")" rel="stylesheet">
    <link href="@Href("~/Content/ionicons.css")" rel="stylesheet">
    <link href="@Href("~/Content/perfect-scrollbar.css")" rel="stylesheet">
    <link href="@Href("~/Content/jquery.switchButton.css")" rel="stylesheet">
    <link href="@Href("~/Content/rickshaw.min.css")" rel="stylesheet">
    <link href="@Href("~/Content/chartist.css")" rel="stylesheet">
    <link href="@Href("~/Content/datatable/jquery.dataTables.min.css")" rel="stylesheet">
    <link href="@Href("~/Content/datatable/responsive.dataTables.min.css")" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="@Href("~/Content/bracket.css")">

    <style>
        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            text-align: center;
            white-space: normal;
        }
    </style>

    @RenderSection("css_script", required: false)
</head>

<body>
@Html.Partial("_LeftPanel", Model)
@Html.Partial("_HeadPanel", Model)

<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
    @RenderBody()
</div><!-- br-mainpanel -->

<footer class="footer mg-t-10 tx-10">
    <p><span class="text-muted">Versão do Painel: @Kernel.Version</span> | <a href="/forum/index.php?/forum/6-bugs/" target="_blank"> Reportar Bug</a> | Última atualização: @Model.LatestBaseUpdate</p>
</footer>

<script src="@Href("~/Scripts/jquery-3.3.1.js")"></script>
<script src="@Href("~/Scripts/popper.js")"></script>
<script src="@Href("~/Scripts/bootstrap.bundle.min.js")"></script>
<script src="@Href("~/Scripts/lib/perfect-scrollbar.jquery.js")"></script>
<script src="@Href("~/Scripts/lib/moment.js")"></script>
<script src="@Href("~/Scripts/jquery-ui.js")"></script>
<script src="@Href("~/Scripts/jquery.switchButton.js")"></script>
<script src="@Href("~/Scripts/jquery.peity.js")"></script>
<script src="@Href("~/Scripts/lib/chartist.js")"></script>
<script src="@Href("~/Scripts/jquery.sparkline.min.js")"></script>
<script src="@Href("~/Scripts/lib/d3.js")"></script>
<script src="@Href("~/Scripts/lib/rickshaw.min.js")"></script>
<script src="@Href("~/Scripts/datatable/jquery.dataTables.min.js")"></script>
<script src="@Href("~/Scripts/datatable/dataTables.dataTables.min.js")"></script>
<script src="@Href("~/Scripts/datatable/dataTables.responsive.min.js")"></script>
<script src="@Href("~/Scripts/datatable/responsive.dataTables.min.js")"></script>

<script src="@Href("~/Scripts/bracket.js")"></script>
<script src="@Href("~/Scripts/ResizeSensor.js")"></script>
<script src="@Href("~/Scripts/system/dashboard.js")"></script>
@RenderSection("post_javascript", false);
</body>
</html>