﻿@using WcoSiteNet.Models
@using WcoSiteNet.Models.Dashboard
@model BaseModel

<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">
    <a href=""><span>[</span>World<i>Conquer</i><span>]</span></a>
</div>

<div class="br-sideleft sideleft-scrollbar">
    <label class="sidebar-label pd-x-10 mg-t-20 op-3">@LanguageManager.GetString("StrNavigation")</label>
    <ul class="br-sideleft-menu">
        <li class="br-menu-item">
            <a href="@Url.Action("Index", "Dashboard", null, Request.Url.Scheme)" class="br-menu-link@(Html.GetAction() == "Dashboard/Index" ? " active" : "")">
                <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrMenuDashboard")</span>
            </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
            <a href="@Url.Action("Accounts", "Dashboard", null, Request.Url.Scheme)" class="br-menu-link@(Html.GetAction() == "Dashboard/Accounts" ? " active" : "")">
                <i class="menu-item-icon icon ion-ios-game-controller-a-outline tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrMenuAccounts")</span>
            </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
            <a href="@Url.Action("Download", "Dashboard", null, Request.Url.Scheme)" class="br-menu-link@(Html.GetAction() == "Dashboard/Download" ? " active" : "")">
                <i class="menu-item-icon icon ion-ios-download-outline tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrMenuDownloads")</span>
            </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub">
                <i class="menu-item-icon ion-ios-cart tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrMenuShop")</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
                <li class="sub-item">
                    <a href="#" class="sub-link">@LanguageManager.GetString("StrMenuShopBuyCredits")</a>
                </li>
                <li class="sub-item">
                    <a href="#" class="sub-link">@LanguageManager.GetString("StrMenuShopSpendCredits")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("VipCentral", "Dashboard", new {}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuShopVip")</a>
                </li>
                <li class="sub-item">
                    <a href="#" class="sub-link">@LanguageManager.GetString("StrMenuShopHowToUse")</a>
                </li>
            </ul>
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub @(Html.GetAction() == "Dashboard/Ranking" ? " active" : "")">
                <i class="menu-item-icon icon ion-ios-analytics-outline tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrMenuRankings")</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "HigherLevel"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankHigherLevel")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Trojan"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankTrojan")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Warrior"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankWarrior")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Archer"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankArcher")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Ninja"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankNinja")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Monk"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankMonk")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Pirate"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankPirate")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "FireTaoist"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankFire")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "WaterTaoist"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankWater")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Syndicate"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankSyndicate")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Moneybag"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankMoneybag")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Nobility"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankNobility")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Killer"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankKiller")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("Ranking", "Dashboard", new {id = "Superman"}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuRankSuperman")</a>
                </li>
            </ul>
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub">
                <i class="menu-item-icon ion-android-archive tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrMenuTransparency")</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
                <li class="sub-item">
                    <a href="#" class="sub-link">@LanguageManager.GetString("StrMenuTransparencySearchUser")</a>
                </li>
                <li class="sub-item">
                    <a href="@Url.Action("TradeLog", "Dashboard", new {}, Request.Url.Scheme)" class="sub-link">@LanguageManager.GetString("StrMenuTransparencyMyTrades")</a>
                </li>
                <li class="sub-item">
                    <a href="#" class="sub-link">@LanguageManager.GetString("StrMenuTransparencyMyShopping")</a>
                </li>
            </ul>
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub">
                <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrMenuCommunication")</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
                <li class="sub-item">
                    <a href="https://worldconquer.online/" class="sub-link">@LanguageManager.GetString("StrMenuSite")</a>
                </li>
                <li class="sub-item">
                    <a href="/forum/index.php?/forum/4-notas-de-atualiza%C3%A7%C3%A3o/" class="sub-link">@LanguageManager.GetString("StrMenuPatchNotes")</a>
                </li>
                <li class="sub-item">
                    <a href="/forum" class="sub-link">@LanguageManager.GetString("StrMenuForum")</a>
                </li>
                <li class="sub-item">
                    <a href="https://worldconquer.online/" class="sub-link">@LanguageManager.GetString("StrMenuNews")</a>
                </li>
            </ul>
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
            <a href="https://www.buymeacoffee.com/A5kt9Xi" class="br-menu-link" target="_blank">
                <i class="menu-item-icon icon ion-coffee tx-24"></i>
                <span class="menu-item-label">@LanguageManager.GetString("StrBuymeaCoffee")</span>
            </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
    </ul><!-- br-sideleft-menu -->

    @if (Model.User.AccountType >= AccountType.GameMaster)
    {
        <label class="sidebar-label pd-x-10 mg-t-20 op-3">@LanguageManager.GetString("StrNavigationGm")</label>
        <ul class="br-sideleft-menu">
            <li class="br-menu-item">
                <a href="#" class="br-menu-link disabled">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
                    <span class="menu-item-label">Em breve</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->
        </ul>
    }

    <label class="sidebar-label pd-x-10 mg-t-25 mg-b-20 tx-info">@LanguageManager.GetString("StrGeneralInformation")</label>

    <div class="info-list">
        <div class="info-list-item">
            <div>
                <p class="info-list-label">@LanguageManager.GetString("StrState")</p>
                <h5 class="info-list-amount">@Model.User.State</h5>
            </div>
        </div><!-- info-list-item -->

        <div class="info-list-item">
            <div>
                <p class="info-list-label">@LanguageManager.GetString("StrNoOfAccounts")</p>
                <h5 class="info-list-amount">@Model.User.CharacterCount/@Model.User.MaxCharacter</h5>
            </div>
        </div><!-- info-list-item -->

        <div class="info-list-item">
            <div>
                <p class="info-list-label">@LanguageManager.GetString("StrVipLevel")</p>
                <h5 class="info-list-amount">@Model.User.VipLevel</h5>
            </div>
        </div><!-- info-list-item -->
        @if (Model.User.VipLevel < GlobalAccount.MAX_VIPLEVEL)
        {
            <div class="info-list-item">
                <div>
                    <p class="info-list-label">@LanguageManager.GetString("StrVipProgress")</p>
                    <h5 class="info-list-amount">@(Model.User.VipPercentage < 100 ? $"{Model.User.VipPercentage:0.00}%" : LanguageManager.GetString("StrVipMaximum"))</h5>
                </div>
            </div>
            <!-- info-list-item -->
        }
        <div class="info-list-item">
            <div>
                <p class="info-list-label">@LanguageManager.GetString("StrCredits")</p>
                <h5 class="info-list-amount">@Model.User.VipCoins</h5>
            </div>
        </div><!-- info-list-item -->
    </div><!-- info-list -->
</div><!-- br-sideleft -->