﻿@using reCAPTCHA.MVC
@using WcoSiteNet.Models
@using WcoSiteNet.Models.Dashboard
@model WcoSiteNet.Models.BaseModel
@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
    ViewBag.Title = "Minhas Contas - World Conquer Online";
}

<div class="br-pagetitle">
    <i class="icon ion-ios-game-controller-a-outline"></i>
    <div>
        <h4>@LanguageManager.GetString("StrPageAccounts")</h4>
        <p class="mg-b-0">@LanguageManager.GetString("StrPageAccountsDesc")</p>
    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-6">
                @using (Html.BeginForm("CreateNewGameAccount", "Dashboard", FormMethod.Post, new { @class = "form-signin", id = "frmRegisterGameAccount", onsubmit = "AccountMgr().CreateNewGameAccount()", autocomplete = "false" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="tempReturnMessage" class="row no-gutters" style="visibility: collapse;"></div>
                    <div class="form-layout form-layout-4">
                        <h6 class="br-section-label">@LanguageManager.GetString("StrRegisterNewAccount")</h6>
                        <p class="br-section-text">
                            @(string.Format(LanguageManager.GetString("StrRegisterNewAccountDesc"), Model.User.CharacterCount, Model.User.MaxCharacter))
                        </p>
                        @if (Model.User.VipLevel < GlobalAccount.MAX_VIPLEVEL)
                        {
                    <p class="br-section-text">@LanguageManager.GetString("StrMoreAccountsIncreaseVipLevel")</p>
                        }
                        <div class="row">
                            <label class="col-sm-4 form-control-label">@LanguageManager.GetString("StrUsername"): <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" name="Username" placeholder="@LanguageManager.GetString("StrUsername")">
                            </div>
                        </div><!-- row -->
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">@LanguageManager.GetString("StrPassword"): <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="password" class="form-control" name="Password" placeholder="@LanguageManager.GetString("StrPassword")">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">@LanguageManager.GetString("StrConfirmPassword"): <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="password" class="form-control" name="ConfirmPassword" placeholder="@LanguageManager.GetString("StrConfirmPassword")">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">@LanguageManager.GetString("StrAreYouARobot")</label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                @Html.Recaptcha()
                                @Html.ValidationMessage("ReCaptcha")
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30">
                            <button class="btn btn-info@(Model.User.CharacterCount >= Model.User.MaxCharacter ? " disabled" : "")" type="submit">@LanguageManager.GetString("StrCreate")</button>
                        </div><!-- form-layout-footer -->
                    </div>
                }
            </div>
            <div class="col-xl-6">
                <div class="form-layout form-layout-4">
                    <h6 class="br-section-label">@LanguageManager.GetString("StrYourAccounts")</h6>
                    <p class="br-section-text">
                        @LanguageManager.GetString("StrYourAccountsDesc")
                    </p>
                    <div class="table-wrapper">
                        <table id="dtUserAccounts" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="wd-25p">@LanguageManager.GetString("StrUsername")</th>
                                    <th class="wd-10p">@LanguageManager.GetString("StrVip")</th>
                                    <th class="wd-10p">@LanguageManager.GetString("StrCreationDate")</th>
                                    <th class="wd-25p">@LanguageManager.GetString("StrCharacters")</th>
                                    <th class="wd-10p">@LanguageManager.GetString("StrLastLogin")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrActions")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (GameAccount account in Model.User.AllAccounts())
                                {
                                    GameCharacter user = account;
                                    <tr>
                                        <td>@account.Name@Html.Raw(account.DebugAccount ? "<span class=\"tx-danger\">**</span>" : "")</td>
                                        <td>@account.BoundVip</td>
                                        <td>@account.CreationDate.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            @(user?.Name ?? LanguageManager.GetString("StrNone"))
                                            @if (GameCharacter.PlayerIsOnline(user?.Identity ?? 0))
                                            {
                                                <i class="fa fa-circle tx-success online-glow"></i>
                                            }
                                        </td>
                                        <td>@account.LastLogin.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            <span class="tx-success"><i class="tx-20 ion ion-ios-settings"></i></span> |
                                            <span class="tx-danger"><i class="tx-20 ion ion-ios-close"></i></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p><span class="tx-danger">**</span> @LanguageManager.GetString("StrCooperatorAccountDesc")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section post_javascript
{
    <script src="@Href("~/Scripts/system/registration.js")"></script>

    <script>
        //$('span[rel=tooltip]').each(function () {
        //    $(this).tooltip({
        //        html: true,
        //        //title: $(this).attr("data-original-title").replace(new RegExp('\'', 'g'), "\""),
        //        placement: 'top'
        //    });
        //});

        $('#dtUserAccounts').DataTable({
            bLengthChange: false,
            searching: false,
            responsive: true
        });
    </script>
}