﻿@using WcoSiteNet.Models.Dashboard
@model WcoSiteNet.Models.Dashboard.CharacterPageModel
@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
    ViewBag.Title = $"Perfil de {Model.Character.Name} - World Conquer Online";
    GameCharacter character = Model.Character;
}

<div class="br-profile-page">
    <div class="card shadow-base bd-0 rounded-0 widget-4">
        <div class="card-header ht-75">
            <div class="hidden-xs-down">
                <a href="" class="mg-r-10"><span class="tx-medium">0</span> Amigos</a>
                <a href=""><span class="tx-medium">0</span> Inimigos</a>
            </div>
        </div><!-- card-header -->
        <div class="card-body">
            <div class="card-profile-img">
                <img src="@Href(character.AvatarUrl)" alt="">
            </div><!-- card-profile-img -->
            <h4 class="tx-normal tx-roboto tx-white">@character.Name</h4>
            <p class="mg-b-25">Conjuge: @character.Mate</p>

            <p class="wd-md-500 mg-md-l-auto mg-md-r-auto mg-b-25">@character.AllProfessionsString</p>
        </div><!-- card-body -->
    </div><!-- card -->

    <div class="ht-70 bg-gray-100 pd-x-20 d-flex align-items-center justify-content-center shadow-base">
        <ul class="nav nav-outline active-info align-items-center flex-row" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#posts" role="tab">Publicações</a>
            </li>
            @*<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#photos" role="tab">Screenshots</a></li>*@
        </ul>
    </div>

    <div class="tab-content br-profile-body">
        <div class="tab-pane fade active show" id="posts">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-white pd-y-12 tx-center mg-t-15 mg-xs-t-30 shadow-base rounded">
                        <a href="" class="tx-gray-600 hover-info">Em breve...</a>
                    </div>
                </div><!-- col-lg-8 -->
                <div class="col-lg-4 mg-t-30 mg-lg-t-0">
                    <div class="card pd-20 pd-xs-30 shadow-base bd-0">
                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-25">Informações do Personagem</h6>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Nome</label>
                        <p class="tx-info mg-b-15">@character.Name [#@character.Identity]</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Conjugue</label>
                        <p class="tx-inverse mg-b-15">@character.Mate</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Nível</label>
                        <p class="tx-inverse mg-b-15">@character.Level</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Renascimentos</label>
                        <p class="tx-inverse mg-b-15">@character.Metempsychosis</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Reincarnações</label>
                        <p class="tx-inverse mg-b-15">@character.Reincarnation</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Força</label>
                        <p class="tx-inverse mg-b-15">@character.Force</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Agilidade</label>
                        <p class="tx-inverse mg-b-15">@character.Speed</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Vitalidade</label>
                        <p class="tx-inverse mg-b-15">@character.Health</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Pontos Restantes</label>
                        <p class="tx-inverse mg-b-15">@character.Soul</p>

                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-25">Outras informações</h6>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Ranking de Nobreza</label>
                        <p class="tx-inverse mg-b-15">Não disponível</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Pontos de PK</label>
                        <p class="tx-inverse mg-b-15">@character.PkPoints</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Último Login</label>
                        <p class="tx-inverse mg-b-15">@character.LastLogin.ToString("dd/MM/yyyy HH:mm")</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">CPs no inventário</label>
                        <p class="tx-inverse mg-b-15">@($"{character.Emoney:N0}")</p>
                    </div><!-- card -->
                </div><!-- col-lg-4 -->
            </div><!-- row -->
        </div><!-- tab-pane -->
    </div><!-- br-pagebody -->
</div><!-- br-mainpanel -->