﻿@model WcoSiteNet.Models.Ranking.RankingPageModel
@using WcoSiteNet.Models
@using WcoSiteNet.Models.Dashboard
@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
    ViewBag.Title = string.Format(LanguageManager.GetString("StrRankingTitle"), ViewBag?.RankType ?? LanguageManager.GetString("StrMenuRankHigherLevel"));
}

@section css_script
{
    <style>
        .ico_rank1, .ico_rank2, .ico_rank3, .ico_rank4 {
            margin: 0 auto;
            display: block;
            width: 26px;
            height: 32px;
            background: url(@(Href("~/Images/contest/top10/sprite_i.gif")) no-repeat 0 -55px
        }

        .ico_rank2 { background-position: 0 -95px }

        .ico_rank3 { background-position: 0 -135px }

        .ico_rank4 { background-position: 0 -175px }

        .online-glow {
            text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);
        }
    </style>
}

<div class="br-pagetitle">
    <i class="icon ion-ios-game-controller-a-outline"></i>
    <div>
        <h4>@LanguageManager.GetString("StrPageRank")</h4>
        <p class="mg-b-0">@LanguageManager.GetString("StrPageRankDesc")</p>
    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="form-layout form-layout-4">
            <h6 class="br-section-label">Top @LanguageManager.GetString($"StrMenuRank{ViewBag.RankType}")</h6>
            <div class="table-wrapper">
                @switch (ViewBag.RankType)
                {
                    case "Killer":
                    case "Superman":
                        <table id="dtRanking" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="wd-5p"></th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrName")</th>
                                    <th class="wd-5p">@LanguageManager.GetString("StrLevel")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrProfession")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrAmount")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrMate")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrSyndicate")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users.OrderBy(x => x.Value))
                                {
                                    <tr>
                                        <td>@user.Ranking</td>
                                        <td>
                                            <a href="@Url.Action("CharacterProfile", "Dashboard", new {id = user.Identity})">@user.Name</a>
                                            @if (GameCharacter.PlayerIsOnline(user.Identity))
                                            {
                                                <i class="fa fa-circle tx-success online-glow"></i>
                                            }
                                        </td>
                                        <td>@user.Level</td>
                                        <td>@user.Profession</td>
                                        <td>@($"{user.Value:N0}")</td>
                                        <td>@user.Mate</td>
                                        <td>@user.Syndicate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        break;
                    case "Moneybag":
                        <table id="dtRanking" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="wd-5p"></th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrName")</th>
                                    <th class="wd-5p">@LanguageManager.GetString("StrLevel")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrProfession")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrMoneyAmount")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrMate")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrSyndicate")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users.OrderBy(x => x.Value))
                                {
                                    <tr>
                                        <td>@user.Ranking</td>
                                        <td>
                                            <a href="@Url.Action("CharacterProfile", "Dashboard", new {id = user.Identity})">@user.Name</a>
                                            @if (GameCharacter.PlayerIsOnline(user.Identity))
                                            {
                                                <i class="fa fa-circle tx-success online-glow"></i>
                                            }
                                        </td>
                                        <td>@user.Level</td>
                                        <td>@user.Profession</td>
                                        <td>@($"{user.Value:N0}")</td>
                                        <td>@user.Mate</td>
                                        <td>@user.Syndicate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        break;
                    case "Nobility":
                        <table id="dtRanking" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="wd-5p"></th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrName")</th>
                                    <th class="wd-5p">@LanguageManager.GetString("StrLevel")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrProfession")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrContribution")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrMate")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrSyndicate")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users.OrderBy(x => x.Value))
                                {
                                    <tr>
                                        <td>@user.Ranking</td>
                                        <td>
                                            <a href="@Url.Action("CharacterProfile", "Dashboard", new {id = user.Identity})">@user.Name</a>
                                            @if (GameCharacter.PlayerIsOnline(user.Identity))
                                            {
                                                <i class="fa fa-circle tx-success online-glow"></i>
                                            }
                                        </td>
                                        <td>@user.Level</td>
                                        <td>@user.Profession</td>
                                        <td>@($"{user.Value:N0}")</td>
                                        <td>@user.Mate</td>
                                        <td>@user.Syndicate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        break;
                    case "Syndicate":
                        <table id="dtRanking" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="wd-5p"></th>
                                    <th class="wd-30p">@LanguageManager.GetString("StrSyndicate")</th>
                                    <th class="wd-30p">@LanguageManager.GetString("StrLeaderName")</th>
                                    <th class="wd-10p">@LanguageManager.GetString("StrMembers")</th>
                                    <th class="wd-15p">@LanguageManager.GetString("StrDonation")</th>
                                    <th class="wd-10p">@LanguageManager.GetString("StrGuildWars")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users.OrderBy(x => x.Value))
                                {
                                <tr>
                                    <td>@user.Ranking</td>
                                    <td>@user.Syndicate</td>
                                    <td>
                                        <a href="@Url.Action("CharacterProfile", "Dashboard", new {id = user.Identity})">@user.Name</a>
                                        @if (GameCharacter.PlayerIsOnline(user.Identity))
                                        {
                                            <i class="fa fa-circle tx-success online-glow"></i>
                                        }
                                    </td>
                                    <td>@user.Value</td>
                                    <td>@($"{user.Value2:N0}")</td>
                                    <td>@user.Value3</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        break;
                    default:
                        <table id="dtRanking" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="wd-5p"></th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrName")</th>
                                    <th class="wd-5p">@LanguageManager.GetString("StrLevel")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrProfession")</th>
                                    <th class="wd-10p">@LanguageManager.GetString("StrLastLogin")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrMate")</th>
                                    <th class="wd-20p">@LanguageManager.GetString("StrSyndicate")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users.OrderBy(x => x.Ranking))
                                {
                                    <tr>
                                        <td>@user.Ranking</td>
                                        <td>
                                            <a href="@Url.Action("CharacterProfile", "Dashboard", new {id = user.Identity})">@user.Name</a>
                                            @if (GameCharacter.PlayerIsOnline(user.Identity))
                                            {
                                                <i class="fa fa-circle tx-success online-glow"></i>
                                            }
                                        </td>
                                        <td>@user.Level</td>
                                        <td>@user.Profession</td>
                                        <td>@user.LastLogin.ToString("yyyy-MM-dd")</td>
                                        <td>@user.Mate</td>
                                        <td>@user.Syndicate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        break;
                }
            </div>
        </div>
    </div>
</div>

@section post_javascript
{
    <script>
        $('#dtRanking').DataTable({
                        bLengthChange: false,
            searching: false,
            responsive: true,
            pageLength: 10
        });
    </script>
}
