﻿@using WcoSiteNet.Models
@using WcoSiteNet.Models.Dashboard
@model WcoSiteNet.Models.Dashboard.VipCentralModel
@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
    ViewBag.Title = "Central VIP - World Conquer Online";
}

<div class="br-pagetitle">
    <i class="icon ion-ios-star-outline"></i>
    <div>
        <h4>@LanguageManager.GetString("StrPageVipCentral")</h4>
        <p class="mg-b-0">@LanguageManager.GetString("StrPageVipCentralDesc")</p>
    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-6">
                <div class="form-layout form-layout-4">
                    <h6 class="br-section-label">@LanguageManager.GetString("StrYourVipProgress")</h6>
                    <p class="br-section-text">
                        @LanguageManager.GetString("StrYourVipProgressDesc")
                    </p>

                    <div class="mg-x-15">
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: @Model.User.VipPercentage%;" aria-valuenow="@Model.User.VipPoints" aria-valuemin="0" aria-valuemax="@Model.User.RequiredVipPoints">
                                @if (Model.User.VipLevel >= GlobalAccount.MAX_VIPLEVEL)
                                {
                                    @($"VIP {Model.User.VipLevel} - {LanguageManager.GetString("StrVipMaximum")}")
                                }
                                else
                                {
                                    @($"VIP {Model.User.VipLevel} - {Model.User.VipPoints}/{Model.User.RequiredVipPoints} ({Model.User.VipPercentage:0.00}%)")
                                }
                            </div>
                        </div>

                        @using (Html.BeginForm("UpdateVipFromAllAccounts", "Dashboard", FormMethod.Post, new {id = "frmUpdateVip", onsubmit = "DashboardMgr().UpdateVipLevel();"}))
                        {
                            <button id="btnDoUpdateVip" class="btn btn-sm btn-outline-warning mg-t-5" type="submit" @(Model.User.AllAccounts().Any(x => x.BoundVip != Model.User.VipLevel) ? "disabled" : "")>
                                @(LanguageManager.GetString("StrUpdate"))
                            </button>
                        }
                    </div>
                </div>

                
            </div>
            <div class="col-xl-6">
                <div class="form-layout form-layout-4">
                    <h6 class="br-section-label">@LanguageManager.GetString("StrYourVipAccounts")</h6>
                    <p class="br-section-text">
                        @LanguageManager.GetString("StrYourVipAccountsDesc")
                    </p>
                    <div class="table-wrapper">
                        <table id="dtUserAccounts" class="table display responsive nowrap">
                            <thead>
                            <tr>
                                <th class="wd-30p">@LanguageManager.GetString("StrUsername")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip")</th>
                                <th class="wd-15p">@LanguageManager.GetString("StrCreationDate")</th>
                                <th class="wd-30p">@LanguageManager.GetString("StrCharacters")</th>
                                <th class="wd-15p">@LanguageManager.GetString("StrLastLogin")</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (GameAccount account in Model.User.AllAccounts().Where(x => x.BoundVip > 0))
                            {
                                GameCharacter user = account;
                                <tr>
                                    <td>@account.Name</td>
                                    <td>@account.BoundVip</td>
                                    <td>@account.CreationDate.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        @(user?.Name ?? LanguageManager.GetString("StrNone"))
                                        @if (GameCharacter.PlayerIsOnline(user?.Identity ?? 0))
                                        {
                                            <i class="fa fa-circle tx-success online-glow"></i>
                                        }
                                    </td>
                                    <td>@account.LastLogin.ToString("yyyy-MM-dd")</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-t-10">
            <div class="form-layout form-layout-4 wd-100p">
                <h6 class="br-section-label">@LanguageManager.GetString("StrVipTable")</h6>
                <p class="br-section-text">
                    @LanguageManager.GetString("StrVipTableDesc")
                </p>

                <div class="mg-x-15">
                    <div class="table-wrapper">
                        <table id="dtVipPriviledges" class="table display responsive nowrap">
                            <thead>
                            <tr>
                                <th class="wd-20p"></th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip0")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip1")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip2")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip3")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip4")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip5")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip6")</th>
                                <th class="wd-10p">@LanguageManager.GetString("StrVip7")</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipRequiredPoints")</td>
                                    <td>@GlobalAccount.VipPointsRequirement[GlobalAccount.VipPointsRequirement.Length - 1]</td>
                                    <td>@GlobalAccount.VipPointsRequirement[0]</td>
                                    <td>@GlobalAccount.VipPointsRequirement[1]</td>
                                    <td>@GlobalAccount.VipPointsRequirement[2]</td>
                                    <td>@GlobalAccount.VipPointsRequirement[3]</td>
                                    <td>@GlobalAccount.VipPointsRequirement[4]</td>
                                    <td>@GlobalAccount.VipPointsRequirement[5]</td>
                                    <td>@GlobalAccount.VipPointsRequirement[6]</td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipMaximumRegisteredAccounts")</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[0]</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[1]</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[2]</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[3]</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[4]</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[5]</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[6]</td>
                                    <td>@GlobalAccount.CharacterAmountLimit[7]</td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipRemoteWarehouse")</td>
                                    <td>@LanguageManager.GetString("StrNone")</td>
                                    <td>Market, TwinCity</td>
                                    <td>+DesertCity</td>
                                    <td>+ApeCity</td>
                                    <td>+BirdIsland</td>
                                    <td>+PhoenixCastle</td>
                                    <td>+StoneCity</td>
                                    <td>@LanguageManager.GetString("StrAll")</td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipExtraExperience")</td>
                                    <td>@LanguageManager.GetString("StrNone")</td>
                                    <td>+1x</td>
                                    <td>+1x</td>
                                    <td>+1x</td>
                                    <td>+1x + x2</td>
                                    <td>+1x + x2</td>
                                    <td>+1x + x2</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipMaximumFriends")</td>
                                    <td>50</td>
                                    <td>55</td>
                                    <td>60</td>
                                    <td>70</td>
                                    <td>80</td>
                                    <td>90</td>
                                    <td>100</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipFreeFlowers")</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>10</td>
                                    <td>15</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipEquipmentTerm")</td>
                                    <td>@LanguageManager.GetString("StrNone")</td>
                                    <td>+1 @LanguageManager.GetString("StrDay")</td>
                                    <td>+2 @LanguageManager.GetString("StrDays")</td>
                                    <td>+4 @LanguageManager.GetString("StrDays")</td>
                                    <td>+7 @LanguageManager.GetString("StrDays")</td>
                                    <td>+7 @LanguageManager.GetString("StrDays")</td>
                                    <td>+7 @LanguageManager.GetString("StrDays")</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipChangeNameChances")</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>15</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipFurniture")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipRemoteRepair")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipGrotto5Entry")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipCityTeleport")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipPortalPresetSpot")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipTeamTeleport")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipHairstyle")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@LanguageManager.GetString("StrVipCasePriority")</td>
                                    <td><span><i class="fa fa-close tx-danger"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td><span><i class="fa fa-check tx-success"></i></span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>