﻿<h2>Política de Privacidade</h2>
<p>
    A FTW! Masters tem o compromisso de proteger a privacidade online dos visitantes
    de nossos ambientes virtuais. A presente Política se aplica ao site e aos serviços online
    fornecidos pela FTW! Masters. O propósito desta Política é informá-lo sobre os tipos de dados que
    coletamos sobre você durante sua visita aos nossos ambientes e como podemos utilizar essas
    informações e como as divulgamos a terceiros.
</p>
<p>
    Ao acessar e usar nossos ambientes virtuais, você indica sua concordância com os termos desta Política.
    Se você não concorda com esta Política, pedimos gentilmente que não utilize nossos ambientes virtuais.
    Se você tem menos de 18 anos, a leitura e a aceitação dos presentes termos deverá ser realizada
    juntamente com seus pais ou com o seu responsável legal.
</p>
<p>
    Essa Política de Privacidade é governada e incorporada como referências aos Termos disponíveis sobre
    o <a href="@Url.Action("TermsOfUse", "Home")">link</a> e devem ser interpretadas conforme nela descritas.
</p>
<p>
    Você poderá ter acesso a serviços de terceiros (incluindo links, publicidade ou outros) incluindo redes
    sociais, como Twitter, Facebook e Google + a partir de nossos aplicativos. Quando o fizer, por favor,
    compreenda que tais terceiros têm suas próprias politicas de privacidade e termos de uso. Por este motivo,
    a Level Up recomenda fortemente que você leia tais politicas e termos e entenda como eles coletam, utilizam
    e divulgam informações.
</p>
<p>
    Vale ressaltar que a FTW! Masters Não se responsabiliza por práticas de privacidade
    ou conteúdo no site ou ambientes virtuais de terceiros.
</p>

<h2>I. Prática de Informações relativas a Crianças</h2>
<p>Nossos aplicativos não são direcionados a crianças com menos de 12 anos e não colhemos informações pessoais 
    de crianças. Se você tem menos de 12 anos, recomendamos que pare de utilizar nossos aplicativos.</p>
<p>É nossa politica não colher ou solicitar informações de crianças com menos de 12 anos. Dessa forma,
    recomendamos aos pais e/ou responsáveis a acompanharem a utilização de aplicativos por seus filhos. 
    Caso viermos a saber que coletamos informações de crianças menores de 12 anos, nós envidaremos nossos
    melhores esforços para prontamente excluir tais informações.</p>

<h2>II. Tipos de Informações coletadas pela FTW! Masters</h2>
<p>Você nos autoriza a coletar as informações abaixo, incluindo informações pessoais ou não pessoais:
    Quando você utiliza nossos Aplicativos, nós podemos coletar e armazenar informações suas diretamente. 
    Por exemplo, quando você se registra conosco podemos coletar informações como seu nome, e-mail, nome de 
    usuário, apelidos, senhas (estas estarão sempre trafegando de forma criptografada e não serão armazenadas
    pela FTW! Masters) e o seu nome de usuário utilizado em redes sociais. Uma vez que você tenha feito o registro,
    você também pode ter a opção de completar um perfil de usuário. Seu perfil de usuário pode incluir 
    informações pessoais e não pessoais, dependendo de como você completa o perfil.</p>

<h3>Informações Pessoais coletadas nos jogos e aplicativos</h3>
<p>A FTW! Masters poderá solicitar acesso a diversas informações suas, aplicativos ou serviços de seu computador,
    e essas informações serão coletadas pelo nosso aplicativo de segurança que é iniciado junto do jogo ou aplicativo.</p>
<p>Além disso, serão utilizados dados como o email da conta associada a seu computador, o IP utilizado no momento 
    de interação com o aplicativo, e dados de identificação do aparelho, coletados durante o uso do jogo ou aplicativo.
    A FTW! Masters poderá também coletar dados como conta, email, Nome e idade, disponibilizados por ferramentas sociais 
    como o Facebook ou Google+, passíveis de serem utilizados pelo aplicativo, sempre sob sua permissão.</p>

<h3>Informações Pessoais No Ambiente Web</h3>
<p>Em diversas seções de nossos ambientes virtuais, como em formulários de cadastro, pesquisas e levantamentos, 
    podemos solicitar que você nos forneça "informações pessoais", como seu nome completo, nome de usuário, e-mail,
    endereço residencial e/ou número telefônico residencial ou comercial. Você sempre saberá quando coletamos suas
    informações pessoais, pois fazemos isso apenas quando você, voluntariamente, nos envia por meio de nossos
    formulários online em ambientes seguros em nossos ambientes virtuais (indicados pelo Cadeado em seu navegador).</p>
<p>Embora não seja necessário fornecer qualquer informação para visitar nossos ambientes virtuais, talvez você não 
    consiga utilizar plenamente todos os serviços caso opte por não nos fornecer determinadas informações.</p>

<h3>Informações não pessoais</h3>
<p>Ao utilizar nossos ambientes virtuais, também podemos coletar "informações não pessoais". São dados que, por si só,
    não podem ser utilizados para identificá-lo ou contatá-lo, a exemplo de dados demográficos (sua idade, sexo, 
    escolaridade, profissão, código postal etc.). As informações não pessoais também podem incluir dados técnicos,
    como seu endereço de IP, tipo de navegador ou de aparelho utilizado, sites e ou aplicativos que você visita imediatamente
    antes e depois de visitar nossas páginas e outros anônimos envolvendo o uso que você faz de nossos ambientes virtuais. 
    Informações não pessoais também podem incluir dados que você nos fornece por meio do uso que faz de nosso ambiente virtual.</p>

<h2>III. Como nos coletamos informações sobre você</h2>
<p>Nós podemos coletar informações sobre você, seu computador e sua usabilidade através de:</p>
<h3>Compras On-Line</h3>
<p>Coletamos informações pessoais quando você adquire produtos através do nosso ambiente virtual, por nosso processo de 
    compras online em ambientes seguros (indicados pelo Cadeado em seu navegador). Por exemplo, antes de processarmos
    seus pedidos, requisitamos que você forneça seu nome completo, nome de usuário, e-mail cadastrado, informações de 
    contato, e, quando necessário, um endereço de entrega. Além disso, armazenamos informações sobre suas transações 
    conosco em virtude da legislação vigente, que nos obriga a ter estes dados para a emissão de notas fiscais e demais 
    documentos legais. Poderemos utilizar as informações fornecidas para nos comunicarmos com você sobre os produtos 
    adquiridos e fornecer suporte direcionado relacionado com esses produtos.</p>
<h3>Sistema Anti-cheat</h3>
<p>Nosso sistema anti-cheat coleta informações sobre os processos que estão sendo executados em seu sistema, o mesmo
    analisa os processos e pode coletar informações como Nome, Criador, Data de Edição, Hashs e outros que possam
    nos auxiliar na identificação da origem do mesmo. Nosso sistema anti-cheat não coleta nenhuma informação pessoal
    disponível em seu computador e nem vasculha suas informações pessoais contidas no mesmo.</p>

<h2>IV. Como Utilizamos as Informações Coletadas</h2>
<h3>Nossos Aplicativos e Ambientes virtuais</h3>
<p>Utilizamos suas informações pessoais para fornecer quaisquer serviços que você solicitar, para nos comunicarmos com 
    você e para permitir a realização de compras. Utilizamos informações não pessoais agregadas sobre nossos usuários
    para compreender a demografia de nossos ambientes virtuais, como a distribuição geográfica de nossos usuários, 
    faixas etárias ou uma combinação dessas ou de outras informações. Utilizamos os dados coletados para analisar o 
    tráfego, identificar tendências, elaborar estatísticas e compreender como nossos ambientes virtuais estão sendo 
    utilizados. Isso nos ajuda a aprimorar nosso conteúdo, nossas ofertas de produtos, nossas ferramentas e nossas 
    iniciativas promocionais, além de prevenir ou detectar fraudes ou abusos em nossos ambientes virtuais e serviços. 
    Também os utilizamos para permitir que terceiros exerçam suas funções técnicas, logísticas ou outras tarefas em 
    nosso nome.</p>
<p>Além disso, utilizamos tais informações para proporcionar a você uma experiência customizada e personalizada,
    para fornecer suporte técnico e responder suas dúvidas e comentários, para identificar e sugerir conexões com
    outros usuários ou enviar convites em seu nome para os seus amigos de redes sociais ou seus contatos, por ordens 
    judiciais, para fazer publicidade direcionada ao seu perfil, para enviar e-mails ou SMS com informações uteis de
    atualização ou promoção de nossos Aplicativos, Produtos ou Serviços.</p>

<h3>Comunicações por e-mail</h3>
<p>Se você nos enviar um e-mail com perguntas ou comentários, poderemos utilizar suas informações pessoais para responder
    perguntas ou comentários, e podemos salvar suas perguntas ou comentários para referência futura. Entretanto, não é
    nossa prática padrão enviar e-mails, a menos que você solicite um serviço em particular que envolva comunicações por 
    e-mail ou para fornecer suporte ao cliente relacionado a esses produtos. Quando você se registra conosco, é possível 
    que enviemos informações sobre atualizações em nossos ambientes virtuais e jogos para seu e-mail cadastrado. Contudo, 
    oferecemos a opção de alterar suas preferências se optar por não receber essas comunicações.</p>

<h3>Atendimento Online</h3>
<p>Ao realizar em nosso site uma compra por meio de nossos serviços online em ambiente seguro, poderemos utilizar as
    informações fornecidas para lhe enviar anúncios importantes referentes à transação e atualizações acerca de nossos
    jogos, nosso ambiente virtual ou nosso atendimento online. Nesse caso, forneceremos a você a opção de alterar suas 
    preferências e optar por não receber tais comunicações.</p>
<p>Ao nos fornecer suas informações pessoais para realizar uma compra em nosso sistema de compras online, utilizaremos 
    os dados fornecidos durante o procedimento apenas para processar aquele pedido em específico. Armazenamos os 
    seguintes dados pessoais para utilização futura, como meio de conveniência ao usuário: CPF, nome, endereço, e-mail, 
    data de nascimento, sexo, CEP e telefone. Estas informações são resgatadas através do Login para suas próximas 
    compras. Também utilizamos seu endereço e informações de faturamento para faturar seu pedido e fornecer o suporte 
    relacionado.</p>

<h2>V. Divulgação de Informações a Terceiros</h2>
<p>
    A FTW! Masters não divulga suas informações pessoais imotivadamente a ninguém, sob nenhuma circunstância, salvo casos em
    que, nos for solicitado ou exigido por autoridade governamental ou judicial, agindo de acordo com a legislação vigente, 
    no cumprimento de ordem judicial ou em cumprimento a lei vigente ou de órgão regulador; seja necessário para cumprir 
    ou aplicar nossos direitos e acordos; seja essencial para prevenir o uso ilegal dos sites FTW! Masters; ou quando 
    acreditamos de boa-fé que a divulgação dessas informações seja necessária ou recomendável, por exemplo, para proteger 
    os direitos, propriedade ou segurança da FTW! Masters, de nossos usuários ou parceiros. Isso poderá incluir a troca de
    informações com empresas e organizações para proteção contra fraudes e redução do risco de crédito.
</p>
<p>
    Exceto conforme seja especificamente determinado na presente Política, não compartilhamos suas informações pessoais com
    nenhum terceiro sem a sua autorização. Em momento algum os dados são cedidos a agências ou empresas para efeitos de
    marketing ou comerciais.
</p>
<p>
    É possível que divulguemos informações agregadas, como dados demográficos e nossas análises estatísticas a terceiros
    para permitir que exerçam suas funções técnicas, analíticas, logísticas ou outras funções/tarefas em nosso nome. Em
    hipótese alguma essas informações agregadas incluem suas informações pessoais.
</p>
<p>
    Nossos ambientes virtuais podem conter links para outros ambientes virtuais. Não temos controle sobre as práticas de
    privacidade ou conteúdo de nenhum de nossos parceiros (comerciais ou de conteúdo), patrocinadores ou outros ambientes 
    virtuais cujos links fornecemos em nossas páginas e ou Aplicativos. Você deve verificar a política de privacidade 
    aplicável nos ambientes virtuais de terceiros após clicar no link que o leva até eles.
</p>
<p>
    Em nossos comunicados, tanto nos ambientes virtuais quanto por e-mail, é possível divulgar ofertas e mensagens de
    parceiros da FTW Masters!. Em momento algum suas informações demográficas foram compartilhadas com os parceiros. 
    Todo o controle de seleção de público e envio deste tipo de comunicação é feito pela nossa equipe.
</p>

<h2>VI. Prestadores de Serviço</h2>
<p>
    Eventualmente contratamos empresas não afiliadas para nos ajudar a lhe fornecer determinados serviços. Por exemplo,
    é possível que contratemos uma companhia para nos ajudar a entregar nossos produtos ou fornecer nossos serviços a
    você. Além disso, podemos utilizar terceiros para processar transações online e pagamentos com cartão de crédito.
    Nesses casos, é possível que seja necessário compartilhar suas informações pessoais com eles. Exigimos que tais
    empresas utilizem suas informações pessoais apenas para fornecer o produto ou serviço específico (incluindo, mas
    não limitado a: conclusão da sua compra, participação num determinado concurso, recepção de informações, etc.) e
    não as autorizamos a utilizar nem armazenar suas informações pessoais por nenhuma outra razão, salvo os dados de
    pagamento, que poderão ser armazenados pelas lojas mobile, assim como pela própria FTW! Masters. Os dados são enviados
    de forma criptografada e utilizados apenas no momento da transação. A FTW! Masters dispõe de medidas e procedimentos
    para assegurar que terceiros respeitem a sua privacidade.
</p>

<h2>VII. Segurança das Informações Coletadas</h2>
<p>
    A segurança de suas informações pessoais é muito importante para nós. Mantemos proteções físicas, eletrônicas e
    processuais para garantir a integridade de seus dados pessoais, incluindo encriptação sofisticada, ferramentas de
    autenticação e procedimentos de segurança para confirmação de dados.
</p>
<p>Quando você realizar compras, toda a transação é feita em um ambiente seguro do banco ou da operadora de cartão de crédito, 
    de forma automática e eletrônica, sem contato humano. Toda informação referente ao cartão de crédito será transmitida 
    por meio da tecnologia de um servidor Secure Socket Layer (SSL). Suas informações pessoais passam por uma rede segura e
    só acessível a um número limitado de pessoas com direitos especiais de acesso, comprometidas em manter a confidencialidade
    dos dados.</p>
<p>Independentemente de todos os nossos esforços, nenhuma transmissão de dados através da internet pode ser garantida como 
    100% segura. A FTW! Masters toma todos os cuidados e precauções para proteger as informações de nossos usuários. Quando você
    nos fornece informações confidenciais por meio do site, suas informações são protegidas online e offline.</p>
<p>Se tiver dúvidas sobre a segurança em nosso site, envie um ticket para nossa Central de Atendimento ao Consumidor.</p>

<h2>VIII. Precisão das Informações Coletadas</h2>
<p>Quaisquer perguntas acerca de nossa Política de Privacidade e Cookies, sobre precisão de suas informações pessoais, o uso 
    de suas informações pessoais ou quaisquer solicitações para que as corrijamos, atualizemos ou removamos de nossos bancos
    de dados, devem ser enviadas por ticket para a nossa Central de Atendimento ao Consumidor.</p>
<p>Depois de receber a solicitação para alterar suas informações, empregaremos todos os esforços para garantir que todas as
    suas informações pessoais armazenadas nos bancos de dados utilizados pela FTW! Masters para operar nossos sites sejam 
    atualizadas, corrigidas, alteradas ou excluídas, conforme seja apropriado, assim que for razoavelmente viável. Entretanto,
    nos reservamos o direito de manter em nossos arquivos quaisquer informações que removermos ou alterarmos de nossos bancos 
    de dados do site ativo. Poderemos armazenar tais informações para dirimir controvérsias, solucionar problemas e cumprir 
    termos de uso.</p>

<h2>IX. Alterações à nossa política de privacidade</h2>
<p>A presente Política entrou em vigor em 22 de Outubro de 2019. Reservamo-nos o direito de alterar a presente Política a 
    qualquer momento e a nosso exclusivo critério, e a referida alteração passará a vigorar a partir de sua divulgação através 
    do site oficial. Por favor, consulte esta Política regularmente para estar ciente das alterações.</p>

<h2>X. Da Lei Aplicável e do Foro</h2>
<p>Aplica-se a presente Politica de Privacidade a Lei Brasileira e fica eleito o Foro Central da Comarca de São Paulo, Brasil, 
    ou qualquer outro para a resolução de controvérsias oriundas deste Contrato.</p>