﻿<h2>Termos do jogo</h2>
<p>
    Aten&ccedil;&atilde;o, as regras citadas abaixo DEVEM ser respeitadas no f&oacute;rum, no chat e dentro de jogo. As
    mesmas podem ser atualizadas sem aviso pr&eacute;vio e qualquer altera&ccedil;&atilde;o ser&aacute; notificada em
    nosso site para que voc&ecirc;s possam ler e aceitar, ou n&atilde;o as mesmas. Entrar no jogo ignorando a notifica&ccedil;&atilde;o
    ou depois de ter lido, automaticamente &eacute; entendido que voc&ecirc; est&aacute; de acordo com os termos abaixo.
    Por favor, leia com aten&ccedil;&atilde;o e qualquer d&uacute;vida que voc&ecirc; tenha, sinta-se livre para
    comentar nos espa&ccedil;os abaixo.
</p><p>
    Consulte a tabela de puni&ccedil;&otilde;es para checar as consequ&ecirc;ncias
    da quebra de regras. Al&eacute;m dessas regras de conduta, voc&ecirc; deve sempre se lembrar de respeitar o direito
    das outras pessoas de aproveitar o jogo da forma correta.
</p><p>
    A FTW! Masters se reserva ao direito de cancelar sua
    conta de jogo caso voc&ecirc; desrespeite alguma dessas regras.
</p><p>
    <span style="font-size:20px;">
        <strong>
            1 -
            Para/Sobre os GMs
        </strong>
    </span>
</p><p><u>Sobre seus deveres:</u></p>
<ol>
    <li>Contribuir com a organiza&ccedil;&atilde;o e ordem do servidor;</li>
    <li>Verificar se as diretrizes da comunidade est&atilde;o sendo seguidas;</li>
    <li>Incentivar os jogadores a divulgar o servidor e ajudar na divulga&ccedil;&atilde;o;</li>
    <li>Esclarecer as d&uacute;vidas dos jogadores quanto ao jogo, vendas e&nbsp;sistemas;</li>
    <li>
        Observar e tomar as medidas cab&iacute;veis sobre os jogadores mal-intencionados, sendo obriga&ccedil;&atilde;o
        dos mesmos reportar a um superior em caso de d&uacute;vidas ou ent&atilde;o realizar o banimento preventivo nos
        seguintes casos:
        <ol>
            <li>Aproveitamento de bugs que possam dar vantagens aos jogadores;</li>
            <li>
                Jogadores que usam v&aacute;rios personagens dentro de determinado evento para conseguir aumentar sua
                pontua&ccedil;&atilde;o nos eventos;
            </li>
            <li>Jogadores tentando enganar outros por meio de t&eacute;cnicas &quot;scammers&quot;;</li>
            <li>Jogadores que usam programas que possam automatizar qualquer sistema do jogo;</li>
            <li>Jogadores que usam programas que lhes deem vantagem em eventos ou lutas;</li>
            <li>
                Jogadores que cometam qualquer tipo de ass&eacute;dio, desrespeito a religi&otilde;es ou
                cren&ccedil;as;
            </li>
            <li>
                Jogadores desrespeitosos que n&atilde;o compreendam que o [GM] ou [PM] &eacute; uma autoridade dentro do
                jogo;
            </li>
            <li>
                Outros GMs que n&atilde;o estejam cumprindo suas obriga&ccedil;&otilde;es ou estejam fazendo mal uso de
                seus poderes.
            </li>
        </ol>
    </li>
    <li>
        Avisar seus superiores imediatamente em caso de Servidor offline, Servidor freezado, itens com Bug, Bugs no
        sistema e afins;
    </li>
    <li>
        Deve compreender e saber explicar os eventos importantes do servidor. Dentre eles, deixamos citados abaixo:
        <ol>
            <li>Quest do primeiro reborn;</li>
            <li>Quest do segundo reborn;</li>
            <li>Capture a Bandeira;</li>
            <li>Guild Score PK War;</li>
            <li>Super Guild War;</li>
            <li>Outros</li>
        </ol>
    </li>
    <li>Aceitar e averiguar den&uacute;ncias sobre os eventos que se ocorrerem e puderem se encaixar no artigo 5;</li>
    <li>
        Visualizar o f&oacute;rum em busca de den&uacute;ncias com v&iacute;deos e screenshots e envi&aacute;-los para
        an&aacute;lise;
    </li>
    <li>
        Estar logado no Discord e apenas entrar com o personagem [GM] quando necess&aacute;rio;
        <ul>
            <li>GMs n&atilde;o precisam estar com o personagem GM logado o tempo todo.</li>
        </ul>
    </li>
    <li>Instruir os jogadores a como proceder em casos de necessidade de suporte especial;</li>
</ol><p><u>Sobre as condutas que n&atilde;o ser&atilde;o aceitas:</u></p>
<ol>
    <li>Banir ou expulsar um jogador sem aviso pr&eacute;vio;</li>
    <li>
        Fazer uso de comandos como &quot;Banimento&quot; ou &quot;Expuls&atilde;o&quot; desnecessariamente para dar
        vantagem ou auxiliar algum amigo em eventos e afins;
    </li>
    <li>Fazer uso de comandos para benef&iacute;cio pr&oacute;prio ou de outro jogador espec&iacute;fico;</li>
    <li>
        Cometer o ato de abuso de poder. Tendo citado os exemplos abaixo:
        <ul>
            <li>Fazer uso de comandos de maneira negativa em jogadores por motivos pessoais;</li>
            <li>Desrespeitar jogadores por achar que est&aacute; acima do mesmo, de tudo ou de todos;</li>
            <li>Amea&ccedil;ar jogadores por ter o t&iacute;tulo de GM.</li>
        </ul>
    </li>
    <li>
        Levar para o pessoal ofensas feitas por jogadores T&oacute;xicos ou com conduta anti-esportiva;
        <ul>
            <li>
                O GM deve ignorar qualquer ofensa feita a ele ou algum companheiro, tendo em vista que jogadores t&oacute;xicos
                existem e n&atilde;o h&aacute; o que fa&ccedil;a isso parar, exceto por ofensas que possam ser
                relacionadas com racismo ou preconceito devido a religi&atilde;o e afins.
            </li>
        </ul>
    </li>
    <li>Passar as informa&ccedil;&otilde;es da conta de login da conta GM para outras pessoas;</li>
    <li>
        Aceitar den&uacute;ncias de problemas ou bugs relevantes pelo Discord, visto que, devem ser usados o sistema de
        Tickets do Livezilla (chat instant&acirc;neo) e o f&oacute;rum;
    </li>
</ol><p><u>Sobre seus benef&iacute;cios:</u></p>
<ol>
    <li>
        Todo e qualquer GM N&Atilde;O tem nenhum comando que lhe d&ecirc; Gold, CPs, CPs(B), Cart&otilde;es de Cr&eacute;dito,
        Cr&eacute;ditos ou qualquer coisa do tipo;
    </li>
    <li>
        GMs s&atilde;o volunt&aacute;rios que recebem b&ocirc;nus de acordo com seu desempenho, portanto, pedir itens ou
        benef&iacute;cios para os mesmos n&atilde;o adiantar&aacute; de nada;
    </li>
    <li>
        GMs podem ter contas no jogo, visto que, os mesmos n&atilde;o tem benef&iacute;cios que lhes deixem a frente de
        seus companheiros de jogo;
    </li>
    <li>
        Apenas os [PM] n&atilde;o podem ter contas no jogo. As contas de PM s&atilde;o contas de teste que podem ver os
        c&oacute;digos dentro do jogo e fazer itens para testar ou visualizar algum problema dentro do jogo. Mesmo
        assim, estas contas est&atilde;o limitadas a pessoas que tem o poder de edi&ccedil;&atilde;o do servidor.
        Os &uacute;nicos PM dentro do jogo s&atilde;o:
        <ul>
            <li>Felipe[PM] - Desenvolvedor e Administrador;</li>
            <li>Aur&eacute;lio[PM] - Gerente e &uacute;nico autorizado a entrar e averiguar problemas no host.</li>
        </ul>
    </li>
    <li>Tem prioridade em seus tickets e suporte.</li>
</ol><p>
    <span style="font-size:20px;"><strong>2 - Ofensa/Linguagem Obscena/Discrimina&ccedil;&atilde;o</strong></span>
</p>
<ol>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; fraudar, atormentar, perseguir, amea&ccedil;ar, causar afli&ccedil;&atilde;o,
        aten&ccedil;&atilde;o indesejada ou humilhar os demais jogadores, incluindo, mas n&atilde;o limitando, a ofender
        ou difamar outro jogador ou grupo de jogadores;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; usar de nenhuma forma de linguagem abusiva de forma a amea&ccedil;ar algu&eacute;m
        com conte&uacute;dos difamat&oacute;rios, obscenos, raciais, odiosos, etnicamente ofensivos, sexualmente
        explicitos e prejudiciais;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; adotar um comportamento rude, que diz respeito a aborrecer ou atormentar
        outras pessoas;
    </li>
</ol><p><span style="font-size:20px;"><strong>3 - Desrespeito a Staff</strong></span></p>
<ol>
    <li>
        Voc&ecirc; dever&aacute; seguir as instru&ccedil;&otilde;es dos Game Masters (GMs) e Player Masters (PMs), n&atilde;o
        interferindo ou prejudicando o trabalho da equipe;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; se dirigir aos GMs, PMs ou membros da equipe, de forma a importunar,
        insultar, amea&ccedil;ar, difamar&nbsp;ou adotar um comportamento rude;
    </li>
    <li>
        Toda e qualquer ofensa ao corpo da equipe ser&atilde;o consideradas infra&ccedil;&otilde;es deste c&oacute;digo
        de conduta;
    </li>
</ol>
<ul>
    <li>
        Aten&ccedil;&atilde;o: nossa equipe n&atilde;o solicita dados de cadastro (login, senha, endere&ccedil;o,
        informa&ccedil;&otilde;es pessoais, etc) nem itens aos jogadores dentro do jogo ou em redes sociais.
    </li>
</ul><p><span style="font-size:20px;"><strong>4 - M&aacute; conduta - Jogador</strong></span></p>
<ol>
    <li>
        Voc&ecirc; n&atilde;o dever&aacute; enviar a mesma mensagem ou mensagens sem conte&uacute;do repetidamente
        (flood/spam);
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; participar de pr&aacute;ticas no jogo que comprometam o desempenho deste
        para outros jogadores ou prejudiquem a sua jogabilidade de qualquer forma.Isso inclui a participa&ccedil;&atilde;o
        em pr&aacute;ticas antidesportivas que proporcionam vantagens desleais aos envolvidos em rela&ccedil;&atilde;o
        aos demais jogadores durante as partidas;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; postar, fixar, espalhar ou comunicar nenhuma informa&ccedil;&atilde;o real
        de outros jogadores (nome, endere&ccedil;o, telefone, nome da conta, etc.) e nem qualquer outra informa&ccedil;&atilde;o
        que possa ferir sua privacidade;
    </li>
    <li>Voc&ecirc; n&atilde;o poder&aacute; se passar por nenhum outro jogador, seja ele seu amigo ou familiar;</li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; realizar e ou participar de pr&aacute;ticas de glitch, independente se houve
        ou n&atilde;o o benef&iacute;cio da a&ccedil;&atilde;o realizada;
    </li>
</ol>
<ul>
    <li>
        Entende-se por glitch alcan&ccedil;ar locais inacess&iacute;veis de maneira normal no jogo. Estes glitchs podem
        ser ocasionados por falhas na textura, buracos no mapa, entre outros. Tais locais s&atilde;o acessados for&ccedil;ando
        estes pontos onde possam haver falhas no mapa.
    </li>
</ul><p><span style="font-size:20px;"><strong>5 - M&aacute; conduta - Guildas e Cl&atilde;s</strong></span></p>
<ol>
    <li>
        s&atilde;o proibidos de serem beneficiados por seus membros, ou membros de outros cl&atilde;s de forma irregular
        direta ou indiretamente, mesmo sem o conhecimento ou consentimento dos demais membros.&nbsp;<br />Entende-se por
        benef&iacute;cio qualquer a&ccedil;&atilde;o irregular que d&ecirc; alguma vantagem, como altera&ccedil;&atilde;o
        de client, uso de programas ilegais, FK (*Pr&aacute;tica de manobras de FK (Free Kill), &eacute; um termo
        utilizado quando um personagem/time vence partidas e ou elimina in&uacute;meras vezes o personagem/time oponente
        onde estes permitem intencionalmente a derrota e ou as elimina&ccedil;&otilde;es constantes sem qualquer tipo de
        disputa),n&atilde;o jogar de acordo com o que &eacute; proposto pelo modo de jogo e demais situa&ccedil;&otilde;es
        que s&atilde;o contra a proposta do jogo de uma disputa saud&aacute;vel e equilibrada para todos os
        jogadores.<br />Se o l&iacute;der da Guilda/Cl&atilde; vir a ser bloqueado permanentemente, por qualquer conduta
        irregular, o Guilda/Cl&atilde; poder&aacute; ser desfeito sem qualquer restitui&ccedil;&atilde;o ao restante dos
        integrantes, todavia a quebra do guilda/cl&atilde; deve ser realizada devido impossibilidade da transfer&ecirc;ncia
        de lideran&ccedil;a.
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; ser um membro ou organizar nenhuma esp&eacute;cie de grupo no World Conquer
        que seja baseado ou tenha fundamentos/filosofia racista, sexista, antirreligioso, anti&eacute;tnico, homof&oacute;bico
        ou qualquer filosofia que pregue algum tipo de comportamento revoltoso ou odioso;
    </li>
    <li>
        Sobre as responsabilidades do Cl&atilde;: entende-se por Cl&atilde; uma &quot;associa&ccedil;&atilde;o que visa
        proporcionar assist&ecirc;ncia e prote&ccedil;&atilde;o aos seus membros&quot; - sendo assim, qualquer ato
        irregular de um membro do Cl&atilde; que beneficie o grupo como um todo ser&aacute; considerado como uma infra&ccedil;&atilde;o
        destas regras;
    </li>
</ol><p><span style="font-size:20px;"><strong>6 - Nome inapropriado para personagem</strong></span></p>
<ol>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; nomear um personagem com palavras obscenas, ofensivas ou que fa&ccedil;am
        apologia ao uso de drogas ou fundamentos/filosofia racista, sexista, antirreligioso, anti&eacute;tnico, homof&oacute;bico
        ou qualquer filosofia que pregue algum tipo de comportamento revoltoso ou odioso;
    </li>
    <li>N&atilde;o &eacute; permitido o uso de espa&ccedil;os falsos no nome do personagem;</li>
</ol><p><span style="font-size:20px;"><strong>7 - Representa&ccedil;&atilde;o - Staff</strong></span></p>
<ol>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; se passar por nenhum funcion&aacute;rio da FTW! Masters ou representante de
        suporte a usu&aacute;rios de World Conquer;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; criar ou usar nenhuma identifica&ccedil;&atilde;o no jogo que possa ser
        confundida com identifica&ccedil;&otilde;es criadas ou usadas pela FTW! Masters, isso inclui, mas n&atilde;o se
        restringe a: identifica&ccedil;&otilde;es terminadas&nbsp;com [PM], PM, [GM], GM, Game Master, Player Master,
        Tester, Coordenador, Suporte, etc;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; dizer-se amigo ou afirmar possuir parentesco com GMs para amea&ccedil;ar,
        provocar ou tirar proveito de tal status;
    </li>
</ol>
<ul>
    <li>
        Aten&ccedil;&atilde;o: nossa equipe n&atilde;o solicita dados de cadastro (login, senha, endere&ccedil;o,
        informa&ccedil;&otilde;es pessoais, etc) nem itens aos jogadores dentro do jogo ou em redes sociais.
    </li>
</ul><p><span style="font-size:20px;"><strong>8 - Benef&iacute;cio por atividade irregular</strong></span></p>
<ol>
    <li>&nbsp;Voc&ecirc; n&atilde;o poder&aacute; modificar nenhuma parte do cliente ou servidor de World Conquer;</li>
    <li>Voc&ecirc; n&atilde;o poder&aacute; usar ou se beneficiar do uso de programas irregulares;</li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; realizar ou se beneficiar direta ou indiretamente de nenhum tipo de uso
        indevido do sistema em World Conquer de qualquer forma e para qualquer fim e n&atilde;o poder&aacute; comunicar
        a exist&ecirc;ncia de um procedimento para uso indevido do sistema para nenhuma pessoa alheia &agrave; FTW!
        Masters.<br />*Os erros devem ser imediatamente comunicados aos GMs ou por ticket atrav&eacute;s da Central de
        Suporte.
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; interferir, hackear ou decifrar nenhuma transmiss&atilde;o para ou origin&aacute;ria
        dos servidores de World Conquer;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; obter itens, moedas, experi&ecirc;ncia ou benef&iacute;cios no jogo de forma
        irregular, como itens providos de alguma altera&ccedil;&atilde;o de cliente ou anormalidade do jogo;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; usar de pr&aacute;tica irregular para a evolu&ccedil;&atilde;o de
        personagens, aquisi&ccedil;&atilde;o de itens, moedas e/ou &ecirc;xito em eventos e promo&ccedil;&otilde;es,
        seja ela manual ou assistida por ferramentas de Macro, incluindo (mas n&atilde;o se limitando a) pr&aacute;tica
        de manobras de FK (Free Kill) e/ou similares (ex.: acesso multi-client). Voc&ecirc; n&atilde;o poder&aacute;
        agir de forma que v&aacute; contra a mec&acirc;nica/proposta do modo de jogo.&nbsp;<br />*Pr&aacute;tica de
        manobras de FK (Free Kill), &eacute; um termo utilizado quando um personagem/time vence partidas e ou elimina in&uacute;meras
        vezes o personagem/time oponente onde estes permitem intencionalmente a derrota e ou as elimina&ccedil;&otilde;es
        constantes sem qualquer tipo de disputa.
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; utilizar de programas maliciosos, por exemplo loaders/injetores,
        simultaneamente com o jogo World Conquer;
    </li>
</ol><p><span style="font-size:20px;"><strong>9 - An&uacute;ncio Irregular</strong></span></p>
<ol>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; realizar a&ccedil;&otilde;es de marketing, promo&ccedil;&atilde;o comercial,
        an&uacute;ncios ou solicita&ccedil;&otilde;es com intuito comercial dentro do jogo sem aviso e autoriza&ccedil;&atilde;o
        pr&eacute;via por escrito para a equipe FTW! Masters;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; realizar qualquer tipo de comercializa&ccedil;&atilde;o ou troca de
        personagens, e/ou contas de QUALQUER jogo;
    </li>
    <li>
        Voc&ecirc; n&atilde;o pode anunciar a inten&ccedil;&atilde;o e/ou comprar, vender, negociar, compartilhar, ou
        transferir o acesso a nenhuma conta de QUALQUER jogo;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; anunciar ou comercializar nenhum tipo de software (original ou pirata),
        servi&ccedil;o ou realizar qualquer ato de car&aacute;ter ilegal no jogo;
    </li>
    <li>
        Voc&ecirc; n&atilde;o poder&aacute; criar, usar, fornecer ou anunciar nenhum emulador do servidor ou outro local
        onde World Conquer possa ser jogado. Al&eacute;m disso, voc&ecirc; n&atilde;o poder&aacute; afixar, nem
        distribuir nenhum utilit&aacute;rio, emuladores ou outras ferramentas de software relacionados a World Conquer,
        sem a permiss&atilde;o escrita expressa da FTW! Masters;
    </li>
    <li>
        N&atilde;o &eacute; permitida nenhuma discuss&atilde;o, divulga&ccedil;&atilde;o ou propaganda dentro do jogo
        que direcione para conte&uacute;do (sites, f&oacute;runs, grupos ou qualquer outro tipo de m&iacute;dia) que
        tratem sobre ou se utilizem de modifica&ccedil;&otilde;es do client ou outros programas de terceiros, bem como
        servidores privados (piratas), programas irregulares, trojan horse e outros programas malignos em geral. &nbsp;Debates
        e defesa dos itens listados s&atilde;o proibidos;
    </li>
    <li>
        N&atilde;o &eacute; permitida nenhuma discuss&atilde;o, divulga&ccedil;&atilde;o ou propaganda dentro do jogo
        que direcione para conte&uacute;do (sites, f&oacute;runs, grupos ou qualquer outro tipo de m&iacute;dia) que n&atilde;o
        seja relacionado a World Conquer. O desrespeito desta regra poder&aacute; ocasionar em suspens&atilde;o ou at&eacute;
        mesmo o cancelamento da conta do jogador. Toda e qualquer irregularidade identificada pela equipe de GMs ser&aacute;
        analisada individualmente e poder&aacute; ser considerada viola&ccedil;&atilde;o de Regra de Conduta;
    </li>
</ol><p><span style="font-size:20px;"><strong>10 - Geral</strong></span></p>
<ol>
    <li>
        Voc&ecirc; n&atilde;o dever&aacute; compartilhar as informa&ccedil;&otilde;es de sua conta com outras pessoas.
        Voc&ecirc;, como propriet&aacute;rio da conta, &eacute; completamente respons&aacute;vel por todas as a&ccedil;&otilde;es
        realizadas atrav&eacute;s de sua conta;
    </li>
    <li>
        Se o detentor/representante legal sobre os direitos de determinado nome de produto, imagem, &iacute;cone, s&iacute;mbolo,
        logotipo ou marca reclamar junto &agrave; FTW! Masters sobre o nome de algum cl&atilde; ou o nome de algum
        personagem utilizando o nome ou marca pertencentes a tal detentor/representante, este estar&aacute;
        sujeito &agrave;s san&ccedil;&otilde;es previstas na Tabela de Puni&ccedil;&otilde;es;
    </li>
    <li>
        Se algum cl&atilde; utilizar nome de marca conhecida para denegrir a sua &quot;imagem&quot; e &quot;bom nome&quot;
        por qualquer raz&atilde;o, o l&iacute;der do cl&atilde; e o grupo como um todo estar&atilde;o sujeitos &agrave;s
        san&ccedil;&otilde;es previstas na Tabela de Puni&ccedil;&otilde;es;
    </li>
    <li>
        Se algum jogador utilizar nome de marca conhecida para denegrir a sua &quot;imagem&quot; e &quot;bom nome&quot;
        por qualquer raz&atilde;o, este estar&aacute; sujeito &agrave;s san&ccedil;&otilde;es previstas na Tabela de
        Puni&ccedil;&otilde;es;
    </li>
    <li>
        Voc&ecirc; n&atilde;o pode violar nenhuma lei local, estadual, nacional ou internacional, bem como
        regulamentos;
    </li>
    <li>
        A FTW! Masters se reserva o direito de analisar e coletar informa&ccedil;&otilde;es do Client do Software de
        World Conquer a seu pr&oacute;prio crit&eacute;rio ou em raz&atilde;o de funcionamento em desconformidade com a
        programa&ccedil;&atilde;o, incluindo (mas n&atilde;o se limitando a) registro de softwares que interfiram na
        programa&ccedil;&atilde;o, funcionamento at&iacute;pico, relat&oacute;rio de transmiss&atilde;o de dados entre o
        Client e o servidor, tr&aacute;fego de informa&ccedil;&otilde;es do jogo, screenshots do jogo, endere&ccedil;os
        de I.P. e qualquer outra informa&ccedil;&atilde;o ligada diretamente ao funcionamento do software;
    </li>
    <li>
        Visando a seguran&ccedil;a das contas de World Conquer a FTW! Masters se reserva o direito de bloquear as contas
        de jogadores em car&aacute;ter preventivo, para averiguar toda e qualquer suspeita de irregularidade,
        solicitando, assim, informa&ccedil;&otilde;es sobre qualquer atividade exercida pelo jogador dentro do jogo. A
        FTW! Masters tem o per&iacute;odo de at&eacute; 30 dias para a libera&ccedil;&atilde;o da conta a partir do
        momento em que essas informa&ccedil;&otilde;es forem enviadas, sem obrigar-se a compensar a conta pelo per&iacute;odo
        em que esteve bloqueada;
    </li>
    <li>
        A FTW! Masters, como propriet&aacute;ria do servidor World Conquer, se reserva o direito de alterar status e
        funcionamento de quaisquer itens do jogo, sem obrigar-se a compensar a conta pela altera&ccedil;&atilde;o, n&atilde;o
        cabendo a FTW! Masters permitir ou n&atilde;o qualquer altera&ccedil;&atilde;o por parte da Desenvolvedora. Vale
        lembrar que as armas e equipamentos do jogo podem ser &ldquo;bufados&rdquo;* ou &ldquo;nerfados&rdquo;* por
        conta de atualiza&ccedil;&otilde;es/updates ou para garantir o equil&iacute;brio do jogo.<br />*Entende-se
        por &ldquo;bufado&rdquo; itens que tiveram seus atributos melhorados e &ldquo;nerfados&rdquo; itens que tiveram
        seus atributos diminu&iacute;dos.
    </li>
</ol><p><span style="font-size:20px;"><strong>Tabela de puni&ccedil;&otilde;es</strong></span></p>
<table class="table table-responsive" border="1">
    <tr>
        <th width="10%">Ação</th>
        <th width="10%">Categoria</th>
        <th width="20%">1ª Ocorrência</th>
        <th width="20%">2ª Ocorrência</th>
        <th width="20%">3ª Ocorrência</th>
        <th width="20%">4ª Ocorrência</th>
    </tr>
    <tr>
        <td rowspan='2'>Ofensa</td>
        <td>Linguagem Ofensiva</td>
        <td>3 dias de bloqueio do personagem/conta</td>
        <td>7 dias de bloqueio do personagem/conta</td>
        <td>30 dias de bloqueio do personagem/conta</td>
        <td>Bloqueio permanente</td>
    </tr>
    <tr>
        <td>Discriminação</td>
        <td>3 dias de bloqueio do personagem/conta</td>
        <td>Bloqueio permanente</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Desrespeito a Staff</td>
        <td>-</td>
        <td>7 dias de bloqueio do personagem/conta</td>
        <td>Bloqueio permanente</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td rowspan='2'>Má conduta</td>
        <td>Flood</td>
        <td>3 dias de bloqueio do personagem/conta</td>
        <td>7 dias de bloqueio do personagem/conta</td>
        <td>30 dias de bloqueio do personagem/conta</td>
        <td>Bloqueio permanente</td>
    </tr>
    <tr>
        <td>Geral</td>
        <td>3 dias de bloqueio do personagem/conta</td>
        <td>7 dias de bloqueio do personagem/conta</td>
        <td>30 dias de bloqueio do personagem/conta</td>
        <td>Bloqueio permanente</td>
    </tr>
    <tr>
        <td rowspan='2'>Nome Inapropriado</td>
        <td>Personagem</td>
        <td>Mudança de nome</td>
        <td>Exclusão do personagem</td>
        <td>Bloqueio permanente</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Guilda/Clã</td>
        <td>Exclusão da Guilda/Clã</td>
        <td>Exclusão da Guilda/Clã e Bloqueio permanente do Líder</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td rowspan='2'>Representação</td>
        <td>Staff</td>
        <td>Bloqueio permanente</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Amigo/Parentesco de Staff</td>
        <td>15 dias de bloqueio do personagem/conta</td>
        <td>30 dias de bloqueio do personagem/conta</td>
        <td>Bloqueio permanente</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td rowspan='2'>Irregularidades</td>
        <td>Uso/Benefício</td>
        <td>30 dias de bloqueio do personagem/conta</td>
        <td>Bloqueio permanente</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Anúncio</td>
        <td>Bloqueio permanente</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Geral</td>
        <td>-</td>
        <td>Até 30 dias de bloqueio de conta para análise</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<p>&nbsp;</p>